.main_container_body {
    color: var(--gray-1);
    background: rgb(48, 42, 22);
    background: linear-gradient(180deg, rgb(25, 22, 13) 5%, rgba(18, 18, 18, 1) 94%);
    border-radius: 4px;
    height: calc(100vh - 90px);
}

.main_sidebar.expanded + .main_container_body {
    width: 100%;
    max-width: calc(100vw - 320px);

    @media (width < 1090px) {
        max-width: calc(100vw - 290px);

    }

    @media (width < 1007px) {
        max-width: calc(100vw - 240%);

    }
}

.main_sidebar.extra-expanded + .main_container_body {
    width: 100%;
    max-width: calc(100vw - 600px);

    @media (width < 1090px) {
        max-width: calc(100vw - 520px);

    }

    @media (width < 1007px) {
        max-width: calc(100vw - 480%);

    }
}

.main_sidebar {
    overflow: hidden;
    transition: all .3s;
    color: var(--gray-1);
    background: rgb(48, 42, 22);
    background: linear-gradient(180deg, rgb(25, 22, 13) 5%, rgba(18, 18, 18, 1) 94%);
    border-radius: 4px;

    &.expanded {
        width: 320px;
        @media (width < 1090px) {
            width: 290px;
        }

        @media (width < 1007px) {
            width: 240px;
        }

    }

    &.extra-expanded {
        width: 600px;

        & .btn_expand_panel {
            transform: rotate(180deg);
        }

        @media (width < 1090px) {
            width: 520px;
        }

        @media (width < 1007px) {
            width: 480px;
        }
    }
}